<div class="block row">
  <div class="title"><h4>Select your CSV file: </h4></div>
  <div class="block right">
    <ng-csv-import content="csv.content"
    header="csv.header"
    separator="csv.separator"
    result="csv.result"
    accept="csv.accept"></ng-csv-import>
  </div>
</div>

<canvas id="line" class="chart chart-line" chart-data="data"
  chart-labels="labels" chart-legend="true" chart-series="series"
  chart-click="onClick">
</canvas>

<canvas id="bar" class="chart chart-bar"
  chart-data="data" chart-labels="labels"> chart-series="series"
</canvas>

<div class="block row"  ng-if="csv.result">
  <div class="content" hljs source="toPrettyJSON(csv.result, 2)">
    <table class="table table-condensed table-bordered">
      <div class="check-element animate-hide" ng-hide=true>{{toPrettyJSON(csv.result, 2)}}</div>
      <tbody ng:repeat="results in csv.result">
        <tr>
          <td>{{results.Month}}</td>
          <td>{{results.Data}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
